@use "base/variables" as v;
@use "base/mixins" as m;

.titulo-ana {
  background-color: v.$blanco;
  margin: 2rem 0 2rem 0;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  @include m.tablet {
    width: 100%;
    background-color: v.$blanco;
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
    border-radius: 1.5rem;
  }
  h3 {
    font-weight: v.$bold;
    color: #0c407c;
    text-transform: uppercase;
  }

  .calls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    @include m.tablet {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
    }
    a {
      background-color: #00316a;
      color: v.$blanco;
      padding: 0.5rem;
      border-radius: 0.6rem;
      transition: transform 0.1s;
      font-size: 1rem;
      text-transform: uppercase;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.contenido-dashboard {
  scroll-behavior: smooth;
  // background-color: #a6abbd;
  border-radius: 1.5rem;
  padding: 1rem;
  overflow: scroll;
  height: 45rem;
  width: 100%;
  @include m.tablet {
    height: 43rem;
    width: 100%;
  }
  //scroll
  &::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
  }

  &::-webkit-scrollbar-thumb {
    background: #0c407c;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: lighten($color: #0c407c, $amount: 8);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: lighten($color: #0c407c, $amount: 8);
  }

  .contenido-dash {
    width: 100%;
    .dash {
      border-radius: 1rem;
      margin-bottom: 2rem;

      width: 100%;
      padding: 3rem;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      @include m.tablet {
        border-radius: 1rem;
        margin-bottom: 2rem;
        height: 41rem;
        padding: 3rem;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
      }
    }
  }
}
