@use "base/variables" as v;
@use "base/mixins" as m;

.con_accion {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 1rem;
  width: 95%;
  flex-direction: column;
  gap: 1rem;
  @include m.tablet {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
    flex-direction: row;
    width: 95%;
    align-items: center;
    gap: 30rem;
  }

  a {
    height: 5%;
  }
}
