.datos-integrante {
  display: flex;
  flex-direction: column;
  // display: grid;
  // gap: 1rem;
  // grid-template-columns: repeat(1, 1fr);
  // align-items: center;
  // margin-top: 1rem;
  @include tablet {
    display: flex;
    gap: 1rem;
  }

  .zoom {
    padding: 20px;
    background-color: #00b490;
    transition: transform 0.2s;
    width: 60%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      transform: scale(1.3);
    }

    p {
      margin: 0;
      color: $blanco;
    }
  }
  p {
    margin: 0;
  }

  .datos {
    width: 100%;
    height: 100%;
    .avatar-int {
      width: 80%;
      height: 100%;
      margin: 0 auto;
    }
  }
  .rendimiento {
    a {
      font-size: 1.4rem;
    }
  }
  .datos--text {
    .contenido_datos_integrante {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      .datos__nombre {
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $azul;
        i {
          font-size: 3rem;
        }
      }

      span {
        @include etiq(#08b388, 1.3rem);
        padding: 0.2rem;
      }
    }
  }
  .datos__integrante {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    p {
      color: $azul;
      font-weight: bold;
      font-size: 1.5rem;
    }

    span {
      text-transform: uppercase;
      color: black;
      font-weight: normal;
      font-size: 1.4rem;
    }
  }
  .datos--general {
    width: 80%;
  }
}

.detalles-integrante {
  .contenedor-tabla {
    height: 33.8rem;
  }
}

.titulo-area {
  text-align: left;
  font-size: 1.8rem;
  //text-transform: uppercase;
  font-weight: $bold;
  margin-bottom: 0.8rem;
}

.rendimiento {
  .contenedor-tabla {
    height: 33rem;
    margin: 0;
    table {
      width: 100%;
    }
  }

  button {
    &:hover {
      background-color: $verdeUso;
    }
  }
}
