/* Style  links */
.tabs {
  margin-bottom: 6rem;
}
.tabs .tabs__grafico {
  display: flex;
}
.tablink {
  background-color: #979799;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 13px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: darken($color: #7c7e85, $amount: 1);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: $negro;
  display: none;

  .contenedor-tabla {
    font-size: 1.4rem;
    table {
      width: 100%;
    }
  }
}
/*
#invitacion {
  background-color: #005b82;
}
#participacion {
  background-color: #008896;
}
#beneficiosDerecho {
  background-color: #00b490;
}
#beneficiosAsig {
  background-color: #86da7c;
}

*/
